{% extends "base.html" %}
{% load static %}

{% block title %}Комнаты{% endblock %}

{% block additional_media %}
    <link href="{% static "css/rooms_page.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Доступные комнаты</h1>
    <div class="sorting">
        <form method="post">
          {% csrf_token %}
          <div>
            {% for field in form %}
                <div class="form-group">
                    {{field.label_tag}} {{ field }}
                </div>
            {% endfor %}
            {{ form.non_field_errors }}
            </div>
            <input type="submit" value="Получить">
        </form>
    </div>
    <div class="rooms">
        {% for room in rooms %}
        <div class="room">
            <p><b>Название: </b><a href="{% url 'room' room.pk %}">{{ room.title }}</a></p>
            <p><b>Количество мест:</b> {{ room.num_of_seats }}</p>
            <p><b>Цена:</b> {{ room.price }} руб.</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
