{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    {% if request.path != '/login/' %}
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form>
        {% else %}
            <li><a href="{% url 'login' %}">Войти</a></li>
        {% endif %}
    {% endif %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
